@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playpen+Sans:wght@500&family=ZCOOL+KuaiLe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-space {
    background: url('../../public/images/backgrounds/space.jpg');
    background-size: 1600px;
}

.font-press-start {
    font-family: 'Press Start 2P', cursive;
}

.font-bangers {
  font-family: 'Bangers', system-ui;
}

.font-luckiest-guy {
  font-family: 'Luckiest Guy', system-ui;
}

.font-zcool {
  font-family: "ZCOOL KuaiLe", sans-serif;
  font-weight: 400;
  font-style: normal;
}
